.mba{
    background: url(/images/mba-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 20px 0 0 0;
    @media(max-width:768px){
        height: auto;
    }
    .container{
        text-align: center;
        svg{
            margin-top: 115px;
            max-width: 100%;
            width: 100%;
            @media(max-width:768px){
                max-width: 80%;
                margin-top:0px; 
            }
            &.animation{
                @keyframes slidein {
                    from {
                        margin-left: 50%;
                        width: 10%;
                        opacity: 0;
                    }

                    to {
                        margin-left: 0%;
                        width: 100%;
                        opacity: 1;
                    }
                }
                animation-duration: 10s;
                animation-name: slidein;
            }
        }
        h4{
            color:#91a3ad;
            font: 20px Gotham HTF Book;
            text-transform: uppercase;
            margin: 70px 0px;
            line-height: 35.4px;
        }
    }
}