// Body
$body-bg: url('/images/bg-piece.jpg');
$bg-gray: url('/images/background-gray.jpg');

// Typography
$font-family: Gotham HTF Book;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$magenta: #ed145b;
